# Kafka
bootstrap.servers=pkc-7prvp.centralindia.azure.confluent.cloud
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=BH2H2NXOJQPDICEW
sasl.password=zgYJtRE+3RUcr5lySGBx806xJDV3Kg7GfGqXAX3c4bQf4NTnK4secW2LHc14u6k7
# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000
# Confluent Cloud Schema Registry
schema.registry.url=https://psrc-5mn3g.ap-southeast-2.aws.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=63MFAU73MHENGQQ4:WjTxZrBu25UTPuMNZas0/KyC3YgIszpSh1W45DqYH096rwISCnNFmpqIg26PS6YH


